
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/user.png" type="image/x-icon" />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"> -->

    <link rel="stylesheet" href="{% static 'output.css' %}" />
    <title>XYZ Technologies</title>

    <style></style>
  </head>
  <body class="bg-image">
    <!-- Navbar Section -->

    <div
      class="container-fluid bg-gray-100 w-full md:flex hidden py-5 px-5 justify-end"
    >
      <div class="row">
        <div
          class="col-lg-9 col-12 customPosition d-lg-flex justify-content-lg-end align-items-center"
        >
          <div class="mainMenuWrapper d-lg-flex align-items-lg-center">
            <!-- Nav -->
            <ul class="navListing newListing">
              <li class="navItem">
                <a
                  href="/index.html"
                  data-toggle="collapse"
                  data-target=".whatWeDo"
                  aria-expanded="false"
                  >Home &#9660; <i class="fas fa-caret-down"></i
                ></a>
                <div
                  class="navSubmenu midiumMegaMunu whatWeDo collapeseShow collapse text-left"
                  data-parent=".mainMenuWrapper"
                >
                  <div class="containerBlock">
                    <ul class="thirdLevelMenu">
                      <li class="active">
                        <ul class="fourthLevelMenu">
                          <li><a href="#"> Web Development </a></li>
                          <li class="active deActiveColor">
                            <a href="#">App Development</a>
                            <ul class="fifthLevelMenu collapse pl-2 pl-lg-0">
                              <li>
                                <div class="row justify-content-xl-between">
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2"></div>
                                  </div>
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pl-xl-2">
                                      <p class="mb-1">News</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-2 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >XYZ strengthen its services portfolio
                                          with the addition of Automotive
                                          Engineering and Manufacturing Services
                                          for global markets</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li><a href="#">SEO </a></li>
                          <li><a href="#">Digital Marketing</a></li>
                          <li><a href="#">IT Support </a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="#" class="stong_protext"
                          >Manufacturing
                          <img class="ml-2 show-right-menu" src="#"
                        /></a>
                        <ul class="fourthLevelMenu">
                          <li class="active deActiveColor">
                            <a href="#">PCB Assembly</a>
                            <ul
                              class="fifthLevelMenu fiftheLevelHide pl-2 pl-lg-0"
                            >
                              <li>
                                <div class="row justify-content-xl-between">
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2">
                                      <p class="mb-1">News</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-3 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >XYZ Strikes Back-to-Back
                                          Manufacturing Expansions to Meet
                                          Increased Global Business</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pl-xl-2">
                                      <p class="mb-1">News</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-2 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >XYZ Inks Contract with C-DAC to
                                          Manufacture India’s first indigenously
                                          designed HPC server</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li><a href="#">Product Assembly</a></li>
                          <li>
                            <a href="#"
                              >Proto, Mold Making, Mechanical Manufacturing
                              Facility</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              >Testing, Validation &amp; Certification</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a class="stong_protext"
                          >Cloud and Applications
                          <img class="ml-2 show-right-menu" src="#"
                        /></a>
                        <ul class="LicenseSales fourthLevelMenu">
                          <li class="active deActiveColor">
                            <ul
                              class="fifthLevelMenu fiftheLevelHide pl-2 pl-lg-0"
                            >
                              <li>
                                <div class="row justify-content-xl-between">
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2">
                                      <p class="mb-1">Blog</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-3 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >Why is Data Lake the next big thing
                                          in Data management and
                                          optimization?</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pl-xl-2">
                                      <p class="mb-1">Case Study</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-2 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >IoT Cloud Platform on Microsoft
                                          Azure</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li class="active deActiveColor">
                            <a href="#">Cloud Engineering Services</a>
                          </li>
                          <li><a href="#">Application Services</a></li>
                        </ul>
                      </li>
                      <li>
                        <a target="_blank" href="#" class="stong_protext"
                          >License Sales
                          <img class="ml-2 show-right-menu" src="#"
                        /></a>
                        <ul class="LicenseSales fourthLevelMenu license_div">
                          <li class="active deActiveColor">
                            <a target="_blank" href="#">Ametek</a>
                            <ul
                              class="fifthLevelMenu fiftheLevelHide pl-2 pl-lg-0"
                            >
                              <li>
                                <div class="row justify-content-xl-between">
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2">
                                      <ul>
                                        <li>
                                          <a target="_blank" href="#">Megger</a>
                                        </li>
                                        <li>
                                          <a target="_blank" href="#"
                                            >National Instruments (NI)</a
                                          >
                                        </li>
                                        <li>
                                          <a target="_blank" href="#">PICO</a>
                                        </li>
                                        <li>
                                          <a target="_blank" href="#"
                                            >QA Systems</a
                                          >
                                        </li>
                                        <li>
                                          <a target="_blank" href="#"
                                            >esd electronics</a
                                          >
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2">
                                      <ul>
                                        <li>
                                          <a target="_blank" href="#"
                                            >Rohde & Schwarz</a
                                          >
                                        </li>
                                        <li>
                                          <a target="_blank" href="#">SEGGER</a>
                                        </li>
                                        <li>
                                          <a target="_blank" href="#"
                                            >TASKING</a
                                          >
                                        </li>
                                        <li>
                                          <a target="_blank" href="#">TRM</a>
                                        </li>
                                        <li>
                                          <a target="_blank" href="#">Weller</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li><a target="_blank" href="#">Hioki</a></li>
                          <li><a target="_blank" href="#">iSYSTEM</a></li>
                          <li><a target="_blank" href="#">Kikusui</a></li>
                          <li><a target="_blank" href="#">Igos</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="navItem">
                <a
                  href="#"
                  data-toggle="collapse"
                  data-target=".IndustriesMenu"
                  aria-expanded="false"
                  >Business Units &#9660; <i class="fas fa-caret-down"></i
                ></a>
                <div
                  class="navSubmenu IndustriesMenu collapeseShow collapse"
                  data-parent=".mainMenuWrapper"
                >
                  <ul>
                    <li><a href="#">Cloud and Applications</a></li>
                    <li><a href="#">Cloud and Applications</a></li>
                    <li><a href="#">Cloud and Applications</a></li>
                    <li><a href="#">Cloud and Applications</a></li>
                    <li><a href="#">Cloud and Applications</a></li>
                  </ul>
                </div>
              </li>
              <li class="navItem">
                <a
                  href="#"
                  data-toggle="collapse"
                  data-target=".aboutvvdnMenu"
                  aria-expanded="false"
                  >About &#9660; <i class="fas fa-caret-down"></i
                ></a>
                <div
                  class="navSubmenu aboutvvdnMenu collapeseShow collapse"
                  data-parent=".mainMenuWrapper"
                >
                  <ul>
                    <li><a href="{% url 'aboutus' %}">About</a></li>
                    <li><a href="#">Company Overview</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Case Studies</a></li>
                  </ul>
                </div>
              </li>
              <li class="navItem">
                <a href="{% url 'contactus' %}">Contact Us</a>
              </li>
              <li class="navItem">
                <a href="{% url 'forgot_password' %}">Forget</a>
              </li>
              <li class="navItem">
                <a href="{% url 'login' %}">Sign In</a>
              </li>
            </ul>

            <!-- /Nav -->
          </div>
        </div>
      </div>
      <div class="md:hidden flex bg-red-600">
        <a class="text-4xl text-white" href="#">&#8801;</a>
      </div>
    </div>

    <main>
      <!-- Hero Section -->
      <section id="hero-section" class="bg-image">
        <div class="mx-auto flex items-center justify-center h-[100vh]">
          <div
            class="flex flex-col items-center justify-center w-[80%] space-y-10"
          >
            <h1
              class="text-7xl md:text-9xl font-bold text-center text-white animate-fade-up"
            >
              Welcome
            </h1>
            <p
              class="text-center text-1xl font-light text-white animate-fade-up"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              nec justo mauris.
              <br />
              Phasellus vel eros urna. Lorem ipsum dolor sit
            </p>
            <button
              class="bg-blue-400 px-8 py-4 text-2xl text-black rounded-lg shadow-lg  animate-fade-up"
            >
              Say Hey 👋
            </button>
          </div>
        </div>
      </section>
      <!-- Partners Section -->
      <section id="partners">
        <div class="stock-ticker flex overflow-hidden gap-10 text-2xl ">
          <ul class="flex justify-between items-center gap-10 my-10 scroll">
            <li>
              <img src="/static/assets/icons/adobe.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/algolia.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/atlassian.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/intel.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/microsoft.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/nvidia.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/stripe.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/uber.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/zendesk.png" alt="img" />
            </li>
          </ul>
          <ul class="flex justify-between items-center gap-10 my-10 scroll">
            <li>
              <img src="/static/assets/icons/adobe.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/algolia.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/atlassian.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/intel.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/microsoft.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/nvidia.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/stripe.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/uber.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/zendesk.png" alt="img" />
            </li>
          </ul>
          <ul class="flex justify-between items-center gap-10 my-10 scroll">
            <li>
              <img src="/static/assets/icons/adobe.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/algolia.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/atlassian.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/intel.png" alt="img" />
            </li>
            <li>
              <img src="./assets/icons/microsoft.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/nvidia.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/stripe.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/uber.png" alt="img" />
            </li>
            <li>
              <img src="/static/assets/icons/zendesk.png" alt="img" />
            </li>
          </ul>
        </div>
      </section>
      <!--  Products Section -->


      <div class="bg_gray bg-white business_Usection  "

      >
        <div class="business_Uservice inset-0 bg-contain bg-no-repeat  bg-center"
        style="background-image: url('/assets/background-abstract-line-digital-design-gradient-template_483537-2161.avif')"
        >
          <div class="flex flex-col items-center justify-center pt-10">

            <div class="container-fluid p-0">
              <div class="flex flex-col items-center justify-center pt-10 pb-20">
                <div>
                  <h1 class="text-6xl font-bold animate-fade my-5 text-black">
                    Our Product's
                  </h1>
                </div>
              <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 items-center justify-center gap-5 no-gutters mx-2">


                <div class="col-md-6 relative group hover:scale-105 duration-300 ease-in-out">
                  <div class="bu_service_box">
                    <a href="#">
                      <picture>
                        <source
                        media="(min-width:768px)"
                        srcset="/static/assets/pexels-pixabay-159438.jpg"
                        />
                        <img
                          class="img_fluid lazy"
                          src="/static/assets/pexels-pixabay-159438.jpg"
                          alt=""
                          style="width: auto"
                        />
                      </picture>
                      <div class="bu_service_text pa2 hide_contact_icon_top opacity-0 p-10 absolute group-hover:opacity-100 transition-opacity duration-700 ease-in-out top-1 md:top-20">
                        <h3 class="text-2xl text-white font-semibold">NETWORKING & Wi-Fi</h3>
                        <p class="text-gray-100">
                          Learn how we can help create equipment vendors’ next-gen
                          AP, P2P, P2MP, switch solutions with rich silicon,
                          advanced software, robust QA, and strong manufacturing

                        </p>
                      </div>
                    </a>
                  </div>
                </div>   <div class="col-md-6 relative group hover:scale-105 duration-300 ease-in-out">
                  <div class="bu_service_box">
                    <a href="#">
                      <picture>
                        <source
                        media="(min-width:768px)"
                        srcset="/static/assets/pexels-pixabay-159438.jpg"
                        />
                        <img
                          class="img_fluid lazy"
                          src="/static/assets/pexels-pixabay-159438.jpg"
                          alt=""
                          style="width: auto"
                        />
                      </picture>
                      <div class="bu_service_text pa2 hide_contact_icon_top opacity-0 p-10 absolute group-hover:opacity-100 transition-opacity duration-700 ease-in-out top-1 md:top-20">
                        <h3 class="text-2xl text-white font-semibold">NETWORKING & Wi-Fi</h3>
                        <p class="text-gray-100">
                          Learn how we can help create equipment vendors’ next-gen
                          AP, P2P, P2MP, switch solutions with rich silicon,
                          advanced software, robust QA, and strong manufacturing

                        </p>
                      </div>
                    </a>
                  </div>
                </div>   <div class="col-md-6 relative group hover:scale-105 duration-300 ease-in-out">
                  <div class="bu_service_box">
                    <a href="#">
                      <picture>
                        <source
                        media="(min-width:768px)"
                        srcset="/static/assets/pexels-pixabay-159438.jpg"
                        />
                        <img
                          class="img_fluid lazy"
                          src="/static/assets/pexels-pixabay-159438.jpg"
                          alt=""
                          style="width: auto"
                        />
                      </picture>
                      <div class="bu_service_text pa2 hide_contact_icon_top opacity-0 p-10 absolute group-hover:opacity-100 transition-opacity duration-700 ease-in-out top-1 md:top-20">
                        <h3 class="text-2xl text-white font-semibold">NETWORKING & Wi-Fi</h3>
                        <p class="text-gray-100">
                          Learn how we can help create equipment vendors’ next-gen
                          AP, P2P, P2MP, switch solutions with rich silicon,
                          advanced software, robust QA, and strong manufacturing

                        </p>
                      </div>
                    </a>
                  </div>
                </div>   <div class="col-md-6 relative group hover:scale-105 duration-300 ease-in-out">
                  <div class="bu_service_box">
                    <a href="#">
                      <picture>
                        <source
                        media="(min-width:768px)"
                        srcset="/static/assets/pexels-pixabay-159438.jpg"
                        />
                        <img
                          class="img_fluid lazy"
                          src="/static/assets/pexels-pixabay-159438.jpg"
                          alt=""
                          style="width: auto"
                        />
                      </picture>
                      <div class="bu_service_text pa2 hide_contact_icon_top opacity-0 p-10 absolute group-hover:opacity-100 transition-opacity duration-700 ease-in-out top-1 md:top-20">
                        <h3 class="text-2xl text-white font-semibold">NETWORKING & Wi-Fi</h3>
                        <p class="text-gray-100">
                          Learn how we can help create equipment vendors’ next-gen
                          AP, P2P, P2MP, switch solutions with rich silicon,
                          advanced software, robust QA, and strong manufacturing

                        </p>
                      </div>
                    </a>
                  </div>
                </div>   <div class="col-md-6 relative group hover:scale-105 duration-300 ease-in-out">
                  <div class="bu_service_box">
                    <a href="#">
                      <picture>
                        <source
                        media="(min-width:768px)"
                        srcset="/static/assets/pexels-pixabay-159438.jpg"
                        />
                        <img
                          class="img_fluid lazy"
                          src="/static/assets/pexels-pixabay-159438.jpg"
                          alt=""
                          style="width: auto"
                        />
                      </picture>
                      <div class="bu_service_text pa2 hide_contact_icon_top opacity-0 p-10 absolute group-hover:opacity-100 transition-opacity duration-700 ease-in-out top-1 md:top-20">
                        <h3 class="text-2xl text-white font-semibold">NETWORKING & Wi-Fi</h3>
                        <p class="text-gray-100">
                          Learn how we can help create equipment vendors’ next-gen
                          AP, P2P, P2MP, switch solutions with rich silicon,
                          advanced software, robust QA, and strong manufacturing

                        </p>
                      </div>
                    </a>
                  </div>
                </div>   <div class="col-md-6 relative group hover:scale-105 duration-300 ease-in-out">
                  <div class="bu_service_box">
                    <a href="#">
                      <picture>
                        <source
                        media="(min-width:768px)"
                        srcset="/static/assets/pexels-pixabay-159438.jpg"
                        />
                        <img
                          class="img_fluid lazy"
                          src="/static/assets/pexels-pixabay-159438.jpg"
                          alt=""
                          style="width: auto"
                        />
                      </picture>
                      <div class="bu_service_text pa2 hide_contact_icon_top opacity-0 p-10 absolute group-hover:opacity-100 transition-opacity duration-700 ease-in-out top-1 md:top-20">
                        <h3 class="text-2xl text-white font-semibold">NETWORKING & Wi-Fi</h3>
                        <p class="text-gray-100">
                          Learn how we can help create equipment vendors’ next-gen
                          AP, P2P, P2MP, switch solutions with rich silicon,
                          advanced software, robust QA, and strong manufacturing
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--  Sevice Section -->
      <!-- <section class="bg-service w-auto">
        <div class="flex flex-col items-center justify-center pt-10 pb-20">
          <div>
            <h1 class="text-6xl font-bold animate-fade my-5 text-white">
              Services's
            </h1>
          </div>
          <div
            class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 items-center justify-center gap-5"
          >
            <div
              class="w-96 border-[1px] border-[rgb(184,52,52)] px-5 py-6 rounded-lg bg-opacity-50 backdrop-blur-lg animate-fade-right"
            >
              <img
                src="./assets/service-icons/service-management-icon4.svg"
                alt="service-icons"
                class="w-28 my-2"
              />
              <h2 class="text-2xl text-white font-bold">App Development</h2>
              <div class="border-b-2 w-1/4 my-2"></div>
              <p class="text-1xl text-white font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                totam porro et voluptate praesentium eos!
              </p>
            </div>
            <div
              class="w-96 border-[1px] border-[rgb(184,52,52)] px-5 py-6 rounded-lg bg-opacity-50 backdrop-blur-lg animate-fade-up"
            >
              <img
                src="./assets/service-icons/service-management-icon4.svg"
                alt="service-icons"
                class="w-28 my-2"
              />
              <h2 class="text-2xl text-white font-bold">App Development</h2>
              <div class="border-b-2 w-1/4 my-2"></div>
              <p class="text-1xl text-white font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                totam porro et voluptate praesentium eos!
              </p>
            </div>
            <div
              class="w-96 border-[1px] border-[rgb(184,52,52)] px-5 py-6 rounded-lg bg-opacity-50 backdrop-blur-lg animate-fade-left"
            >
              <img
                src="./assets/service-icons/service-management-icon4.svg"
                alt="service-icons"
                class="w-28 my-2"
              />
              <h2 class="text-2xl text-white font-bold">App Development</h2>
              <div class="border-b-2 w-1/4 my-2"></div>
              <p class="text-1xl text-white font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                totam porro et voluptate praesentium eos!
              </p>
            </div>
            <div
              class="w-96 border-[1px] border-[rgb(184,52,52)] px-5 py-6 rounded-lg bg-opacity-50 backdrop-blur-lg animate-fade-right"
            >
              <img
                src="./assets/service-icons/service-management-icon4.svg"
                alt="service-icons"
                class="w-28 my-2"
              />
              <h2 class="text-2xl text-white font-bold">App Development</h2>
              <div class="border-b-2 w-1/4 my-2"></div>
              <p class="text-1xl text-white font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                totam porro et voluptate praesentium eos!
              </p>
            </div>
            <div
              class="w-96 border-[1px] border-[rgb(184,52,52)] px-5 py-6 rounded-lg bg-opacity-50 backdrop-blur-lg animate-fade-up"
            >
              <img
                src="./assets/service-icons/service-management-icon4.svg"
                alt="service-icons"
                class="w-28 my-2"
              />
              <h2 class="text-2xl text-white font-bold">App Development</h2>
              <div class="border-b-2 w-1/4 my-2"></div>
              <p class="text-1xl text-white font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                totam porro et voluptate praesentium eos!
              </p>
            </div>
            <div
              class="w-96 border-[1px] border-[rgb(184,52,52)] px-5 py-6 rounded-lg bg-opacity-50 backdrop-blur-lg animate-fade-left"
            >
              <img
                src="./assets/service-icons/service-management-icon4.svg"
                alt="service-icons"
                class="w-28 my-2"
              />
              <h2 class="text-2xl text-white font-bold">App Development</h2>
              <div class="border-b-2 w-1/4 my-2"></div>
              <p class="text-1xl text-white font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                totam porro et voluptate praesentium eos!
              </p>
            </div>
          </div>
        </div>
      </section> -->
      <!--  Testimonial Section -->
      <!--  counter -->
      <div
        class="py-5 w-full bg-slate-300 flex md:flex-row flex-col items-center justify-evenly"
      >
        <div class="">
          <h2
            id="counter1"
            class="text-black text-center text-2xl md:text-9xl font-semibold"
          >
            0
          </h2>
          <h2 class="font-semibold text-3xl text-center">Projects</h2>
        </div>
        <div class="">
          <h2
            id="counter2"
            class="text-black text-center text-2xl md:text-9xl font-semibold"
          >
            0
          </h2>
          <h2 class="font-semibold text-3xl text-center">Client</h2>
        </div>
        <div class="">
          <h2
            id="counter3"
            class="text-black text-center text-2xl md:text-9xl font-semibold"
          >
            0
          </h2>
          <h2 class="font-semibold text-3xl text-center">Achievement</h2>
        </div>
      </div>
      <!--  Testimonial Section -->
      <section class="w-auto bg-shape" id="testimonial">
        <div class="flex flex-col items-center justify-center pt-10 pb-20">
          <div>
            <h1 class="text-6xl font-bold animate-fade my-5">Testimonial's</h1>
          </div>
          <!-- <div
            class="py-10 border grid grid-col-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 items-center justify-center gap-10"
          > -->
          <div class="flex flex-wrap items-center justify-center gap-5">
            <div
              class="flex flex-col md:flex-row items-center justify-between w-96 md:w-1/2 h-30 border-2 border-[rgb(240,240,240)] px-5 py-6 rounded-xl bg-opacity-50 backdrop-blur-lg animate-fade-left"
            >
              <div class="m-4">
                <img
                  src="/static/assets/testimonials.avif"
                  class="w-full rounded-lg"
                  alt="icon"
                />
              </div>
              <div class="flex flex-col items-start justify-between">
                <div>
                  <p class="my-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, voluptate necessitatibus. Aperiam sit laudantium
                    magnam vero, earum hic nulla eveniet doloribus? Delectus ad
                    natus, facilis dolorum voluptatem asperiores officia a!
                  </p>
                  <div>⭐⭐⭐⭐⭐</div>
                </div>
                <div>
                  <h2 class="text-1xl font-semibold">John Deo</h2>
                  <h3 class="text-gray-600">Software Engineer at Google</h3>
                  <div><img src="/static/assets/twitter.png" alt="twitter" /></div>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col md:flex-row items-center justify-between w-96 md:w-1/2 h-30 border-2 border-[rgb(240,240,240)] px-5 py-6 rounded-xl bg-opacity-50 backdrop-blur-lg animate-fade-left"
            >
              <div class="m-4">
                <img
                  src="/static/assets/testimonials.avif"
                  class="w-full rounded-lg"
                  alt="icon"
                />
              </div>
              <div class="flex flex-col items-start justify-between">
                <div>
                  <p class="my-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, voluptate necessitatibus. Aperiam sit laudantium
                    magnam vero, earum hic nulla eveniet doloribus? Delectus ad
                    natus, facilis dolorum voluptatem asperiores officia a!
                  </p>
                  <div>⭐⭐⭐⭐⭐</div>
                </div>
                <div>
                  <h2 class="text-1xl font-semibold">John Deo</h2>
                  <h3 class="text-gray-600">Software Engineer at Google</h3>
                  <div><img src="/static/assets/twitter.png" alt="twitter" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--  Join Section -->
      <section id="Join" class="tech-image h-[50vh]">
        <div
          class="h-full opacity-[0.7] w-full bg-black flex items-center justify-center"
        >
          <h2
            class="text-3xl md:text-6xl text-center text-white w-1/2 font-bold py-5"
          >
            Join us and become a part of the world of emerging tech! ➡
          </h2>
        </div>
      </section>
      <!--  Subscribe Section -->
      <!-- <section
        id="SUBSCRIBE"
        class="bg-gradient-to-r from-blue-500 via-blue-700 to-blue-400"
      >
        <div class="h-44 flex items-center justify-between mx-10">
          <div>
            <h3
              class="text-2xl md:text-4xl font-bold text-white tracking-tight animate-fade-up"
            >
              Stay updated with our latest offerings
            </h3>
          </div>
          <div>
            <button
              class="px-6 py-2 md:px-8 md:py-4 text-2xl text-white font-bold rounded-lg shadow-lg border-4 border-blue-500 animate-fade-up"
            >
              SUBSCRIBE
            </button>
          </div>
        </div>
      </section> -->

      <section
        class="relative isolate overflow-hidden bg-gray-900 py-16 sm:py-24 lg:py-32"
      >
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div
            class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2"
          >
            <div class="max-w-xl lg:max-w-lg">
              <h2
                class="text-3xl font-bold tracking-tight text-white sm:text-4xl"
              >
                Subscribe to our newsletter.
              </h2>
              <p class="mt-4 text-lg leading-8 text-gray-300">
                Nostrud amet eu ullamco nisi aute in ad minim nostrud
                adipisicing velit quis. Duis tempor incididunt dolore.
              </p>
              <div class="mt-6 flex max-w-md gap-x-4">
                <label for="email-address" class="sr-only">Email address</label>
                <input
                  id="email-address"
                  name="email"
                  type="email"
                  autocomplete="email"
                  required
                  class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
                  placeholder="Enter your email"
                />
                <button
                  type="submit"
                  class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
                >
                  Subscribe
                </button>
              </div>
            </div>
            <dl
              class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2"
            >
              <div class="flex flex-col items-start">
                <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
                  <svg
                    class="h-6 w-6 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"
                    />
                  </svg>
                </div>
                <dt class="mt-4 font-semibold text-white">Weekly articles</dt>
                <dd class="mt-2 leading-7 text-gray-400">
                  Non laboris consequat cupidatat laborum magna. Eiusmod non
                  irure cupidatat duis commodo amet.
                </dd>
              </div>
              <div class="flex flex-col items-start">
                <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
                  <svg
                    class="h-6 w-6 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M10.05 4.575a1.575 1.575 0 10-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 013.15 0v1.5m-3.15 0l.075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 013.15 0V15M6.9 7.575a1.575 1.575 0 10-3.15 0v8.175a6.75 6.75 0 006.75 6.75h2.018a5.25 5.25 0 003.712-1.538l1.732-1.732a5.25 5.25 0 001.538-3.712l.003-2.024a.668.668 0 01.198-.471 1.575 1.575 0 10-2.228-2.228 3.818 3.818 0 00-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0116.35 15m.002 0h-.002"
                    />
                  </svg>
                </div>
                <dt class="mt-4 font-semibold text-white">No spam</dt>
                <dd class="mt-2 leading-7 text-gray-400">
                  Officia excepteur ullamco ut sint duis proident non
                  adipisicing. Voluptate incididunt anim.
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div
          class="absolute left-1/2 top-0 -z-10 -translate-x-1/2 blur-3xl xl:-top-6"
          aria-hidden="true"
        >
          <div
            class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30"
            style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
          ></div>
        </div>
      </section>
    </main>

    <!--  Footer Section -->
    <footer>
      <div
        class="bg-gray-900 py-10 h-full min-h-96 text-white font-light w-full grid grid-col-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 items-center justify-center gap-2 px-10"
      >
        <!-- <div
        class="bg-gray-900 py-10 text-white font-light w-full md:flex-row flex-col flex items-center justify-center gap-10 px-9"
      > -->
        <div class="w-72 h-58 flex items-center justify-center">
          <ul>
            <h4 class="text-2xl my-5 font-bold">What We Do</h4>
            <li><a href="#">Product Engineering</a></li>
            <li><a href="#">Manufacturing</a></li>
            <li><a href="#">Cloud and Applications</a></li>
            <li><a target="_new" href="#">License Sales</a></li>
          </ul>
        </div>
        <div class="w-72 h-58 flex items-center justify-center">
          <ul>
            <h4 class="text-2xl my-5 font-bold">What We Do</h4>
            <li><a href="#">Product Engineering</a></li>
            <li><a href="#">Manufacturing</a></li>
            <li><a href="#">Cloud and Applications</a></li>
            <li><a target="_new" href="#">License Sales</a></li>
          </ul>
        </div>
        <div class="w-72 h-58 flex items-center justify-center">
          <ul>
            <h4 class="text-2xl my-5 font-bold">Business Units</h4>
            <li><a href="#">Product Engineering</a></li>
            <li><a href="#">Manufacturing</a></li>
            <li><a href="#">Cloud and Applications</a></li>
            <li><a target="_new" href="#">License Sales</a></li>
          </ul>
        </div>
        <div class="w-72 h-58 flex items-center justify-center">
          <ul>
            <h4 class="text-2xl my-5 font-bold">About</h4>
            <li><a href="#">Product Engineering</a></li>
            <li><a href="#">Manufacturing</a></li>
            <li><a href="#">Cloud and Applications</a></li>
            <li><a target="_new" href="#">License Sales</a></li>
          </ul>
        </div>
        <div class="w-72 h-58 flex items-center justify-center">
          <ul>
            <h4 class="text-2xl my-5 font-bold">Careers</h4>
            <li><a href="#">Product Engineering</a></li>
            <li><a href="#">Manufacturing</a></li>
            <li><a href="#">Cloud and Applications</a></li>
            <li><a target="_new" href="#">License Sales</a></li>
          </ul>
        </div>
      </div>
      <div class="mx-auto py-2">
        <h3 class="text-center text-black">
          <a href="https://twitter.com/codeguyakash">@codeguyakash</a> All
          Rights Reserved.
        </h3>
      </div>
    </footer>
  </body>
  <script src="script.js"></script>
</html>
<!-- npx tailwindcss -i ./style.css -o ./output.css --watch/ -->
